*
!.gitignore

!.config/
!.config/nvim/**
!.config/kitty/**
!.config/hypr/**
!.config/waybar/**
!.config/wezterm/**
!.config/clangd/**
!.config/btop/**
!.config/fastfetch/**
!.config/wallpapers/**

!.emacs.d/
!.emacs.d/init.el
!.emacs.d/early-init.el
!.emacs.d/lisp/**

!.bashrc
!.gitconfig

