*

!.gitignore
!.Xresources
!.xinitrc

!.config/
!.config/nvim/
!.config/nvim/**
!.config/i3/
!.config/i3/**
!.config/picom/
!.config/picom/**
!.config/kitty/
!.config/kitty/**
!.config/hypr/
!.config/hypr/**
!.config/waybar/
!.config/waybar/**
!.config/wezterm/
!.config/wezterm/**
!.config/btop/
!.config/btop/**
!.config/fastfetch/
!.config/fastfetch/**
!.config/clangd/
!.config/clangd/**
!.config/wallpapers/
!.config/wallpapers/**
!.config/screenshots/
!.config/screenshots/**

!.emacs.d/
!.emacs.d/init.el
!.emacs.d/early-init.el
!.emacs.d/lisp/
!.emacs.d/lisp/**

!.bashrc
!readme.md
!.gitconfig
